@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Gamja Flower", "gothic";
    @apply bg-slate-50;
    @apply text-base font-bold;
  }
}

@layer utilities {
  .text-checked {
    @apply line-through opacity-30 pointer-events-none;
  }

  .react__colorful-small .react-colorful {
    width: 120px;
    height: 120px;
  }
  .react__colorful-small .react-colorful__hue {
    height: 20px;
  }
}
